body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.root {
  overflow: hidden;
}


.cursor-pointer {
  cursor: pointer;
}


/* Works on Firefox */
.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: beige;
}

/* Works on Chrome, Edge, and Safari */
.thin-scroll::-webkit-scrollbar {
  width: 6px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 5px;
}